* {
    box-sizing: border-box;
}
ul,
li,
img {
    margin: 0;
    padding: 0;
}
main {
    max-width: 748px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 320px;
}
ul {
    list-style: none;
    position: relative;
    width: 2000em;
    height: 300px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
li {
    float: left;
    width: 748px;
    position: absolute;
}
.right {
    float: right;
}