* {outline:none;}
html {
    font-size: 62.5%;
    height: 100%;
    width: 100vw;
}
img {width: 100%; max-width:100%; display: block;}
a {color: #fff;}
a:hover, a:active {text-decoration: none; color: red;}
h1 {
    color: #fff;
    font-size: 3rem;
    margin: 15px auto;
}
body {
    text-align: center;
    font: 400 2.4rem 'Arial';
    background: url('../img/background1.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}
main ul.info {
    display: flex;
    list-style-type: none;
}
main ul.info li {
    width: 20%;
    height: 3rem;
    border: 1px solid #fff;
}
